@font-face {
     font-family: 'Dancing Script', cursive;;
    src: url('assets/fonts/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup8.woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inter:wght@300;400;500;600;700&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    background: radial-gradient(ellipse at center, #06BDC1, #68469F);
    font-family: 'Roboto', sans-serif;}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90rem;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F4EDEA;
    border: 10px solid #06BDC1;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 90%);
}

.quote {
font-size: 2.4rem;
margin-bottom: 16px;
text-align: center;
}

.author {
    font-size: 3.2rem;
    margin-bottom: 8px;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}


.btn {
font-size: 1.6rem;
padding: 10px 12px;
background-color: #17a2b8;
color: #fff;
border: none;
border-radius: 4px;
margin-top: 25px;
}
